<table>
  <thead>
    <tr>
      <th>Court 1</th>
      <th>Court 2</th>
      <th>Court 3</th>
    </tr>
  </thead>
  <tbody>
    <% court_reservations_today.each do |c1,c2,c3| %>
      <tr>
	<td>
	  <%= c1.start_time %>
	  <br/>
	  <%= reserved_by_whom c1 %>
	</td>
	<td>
	  <%= c2.start_time %>
	  <br/>
	  <%= reserved_by_whom c2 %>
	</td>
	<td>
	  <%= c3.start_time %>
	  <br/>
	  <%= reserved_by_whom c3 %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
