<%= render 'layouts/notice' %>
<table>
  <thead>
    <tr>
      <th>Court 1</th>
      <th>Court 2</th>
      <th>Court 3</th>
    </tr>
  </thead>
  <tbody>
    <% court_reservations_today.each do |c1,c2,c3| %>
      <tr>
	<td>
	  <%= link_to c1.start_time, c1 %>
	  <br/>
	  <%= link_to c1.reserver, edit_user_path(c1.reserver) %>
	</td>
	<td>
	  <%= c2.start_time %>
	  <br/>
	  <%= c2.reserver || "Free" %>
	</td>
	<td>
	  <%= c3.start_time %>
	  <br/>
	  <%= c3.reserver || "Free" %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
